@font-face {
    font-family: 'Futura Md';
    src: url('fonts/Futura-Medium.woff2') format('woff2'),
        url('fonts/Futura-Medium.woff') format('woff'),
        url('fonts/Futura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-Light.woff2') format('woff2'),
        url('fonts/SegoeUI-Light.woff') format('woff'),
        url('fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mysl';
    src: url('fonts/Mysl-BoldItalic.eot');
    src: url('fonts/Mysl-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Mysl-BoldItalic.woff2') format('woff2'),
        url('fonts/Mysl-BoldItalic.woff') format('woff'),
        url('fonts/Mysl-BoldItalic.ttf') format('truetype'),
        url('fonts/Mysl-BoldItalic.svg#Mysl-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
  scrollbar-track-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.topWrapper {
  position: relative;
  width: 100%;
  align-items: center;
  background-color: white;
  z-index: 10;
}

.top {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 3% 0 3% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 10%;
  width: 74%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 50%;
  width: fit-content;
}

.menu a, .menu a:visited {
  color: black;
  text-decoration: none;
}

.line {
  width: 2vw;
  height: 2px;
}

.menu .line {
  -webkit-transition: width ease-in-out 0.4s;
  -moz-transition: width ease-in-out 0.4s;
  -o-transition: width ease-in-out 0.4s;
  transition: width ease-in-out 0.4s;
}

.menu p {
  font-family: Segoe UI;
  font-size: 28px;
  padding: 0 15px 0 15px;
  -webkit-transition: font-size ease-in-out 0.4s;
  -moz-transition: font-size ease-in-out 0.4s;
  -o-transition: font-size ease-in-out 0.4s;
  transition: font-size ease-in-out 0.4s;
}

.menu:hover p {
  font-size: 32px;
}

.menu:hover .line {
  width: 0;
}

.top .logo, .top .netflix {
  width: 140px;
  height: fit-content;
}

.pageTop {
  position: relative;
  width: 100%;
  height: fit-content;
  background: url('../images/aboutStudio/pageTop.jpg') no-repeat center bottom/cover;
  display: flex;
  flex-direction: column;
  color: white;
}

.pageTop .txtWithImg {
  width: 600px;
  margin-top: 5%;
  margin-left: 10%;
}

.text {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 13%;
  margin-top: 90px;
  margin-bottom: 5%;
}

.notion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notion img {
  height: 100px;
}

.notion p {
  font-family: Mysl;
  font-size: 22px;
  text-align: right;
  margin-right: 10px;
}

.year {
  font-family: Segoe UI;
  font-size: 28px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.quote {
  position: relative;
  width: 100%;
  height: fit-content;
  background: url('../images/aboutStudio/Quote_img_1.png') 5% 0% no-repeat,
    url('../images/aboutStudio/Quote_img_2.png') 15% 100% no-repeat,
    url('../images/aboutStudio/Quote_img_3.png') 100% no-repeat;
  background-size: 300px, 300px, 230px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: black;
}

.quote p {
  font-family: Mysl;
  font-size: 23px;
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
}

.totoroImage{
  width: 100%;
  height: 500px;
  background: url('../images/aboutStudio/Tototro_image.jpg') no-repeat center top/cover;
}

.history{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background: url('../images/aboutStudio/Gray_rectangle.png') 0 0 no-repeat,
    url('../images/aboutStudio/Gray_rectangle.png') 30% 100% no-repeat,
    url('../images/aboutStudio/History_3.jpg') 85% 150px no-repeat,
    url('../images/aboutStudio/History_2.jpg') 95% 370px no-repeat,
    url('../images/aboutStudio/History_1.jpg') 85% 780px no-repeat,
    url('../images/aboutStudio/Gray_rectangle.png') 100% 20px no-repeat;
  background-size: 300px 450px, 400px 150px, 360px, 300px, 300px, 400px 150px;
}

.history .title{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.history .title p{
  color: black;
  font-family: Futura Md;
  font-size: 55px;
  text-align: center;
  line-height: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.history .title img:first-child{
  width: 15%;
  height: 3px;
}

.history .title img:last-child{
  height: 3px;
}

.history .content{
  width: 50%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.content p{
  font-family: Segoe UI;
  font-size: 20px;
  text-indent: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content p:first-child{
  margin-top: 40px;
}

.truckImage{
  width: 100%;
  height: 500px;
  background: url('../images/aboutStudio/Truck.jpg') no-repeat center center/cover;
}

.staff{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.staff .title{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.staff .title p{
  color: black;
  font-family: Futura Md;
  font-size: 50px;
  text-align: center;
  line-height: 1;
  margin-left: 5px;
  margin-right: 5px;
  width: 400px;
}

.staff .title img{
  width: 35%;
  height: 3px;
}

.staff .content{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  background: url('../images/aboutStudio/Staff_bg.jpg') no-repeat center center/cover;
}

.portraits{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: url('../images/aboutStudio/Portraits_bg.jpg') repeat-y;
  background-size: 100% 400px;
}

.onePortr{
  margin: 30px 60px 30px 60px;
}

.onePortr img{
  width: 220px;
  margin-bottom: 15px;
}

.onePortr figcaption{
  text-align: center;
  font-family: Segoe UI;
  font-size: 20px;
}

.name{
  font-weight: bolder;
}

.awards{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  background: url('../images/aboutStudio/Awards_bg.jpg') no-repeat center center/cover;
}

.img-for-award{
  width: 40%;
  height: 450px;
  background: url('../images/aboutStudio/For_awards.jpg') no-repeat center top/cover;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.awardsBlock{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.awardsBlock .title{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  overflow: hidden;
}

.awardsBlock .title p{
  color: white;
  font-family: Futura Md;
  font-size: 40px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.awardsBlock .title img{
  width: 43%;
  height: 3px;
}

.contaner{
  background: url('../images/aboutStudio/Gray_transperent.png') no-repeat center top/cover;
  margin: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contaner button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
  outline: none;
  background-size: 40%;
  transform: scale(1);
  -webkit-transition: transform ease-in-out 0.4s;
  -moz-transition: transform ease-in-out 0.4s;
  -o-transition: transform ease-in-out 0.4s;
  transition: transform ease-in-out 0.4s;
}

.contaner button:hover{
  transform: scale(1.2);
}

.next {
  background: url('../images/icons/Next_black.png') no-repeat center top/cover;
  margin-right: 20px;
}

.prev {
  background: url('../images/icons/Previous_black.png') no-repeat center top/cover;
  margin-left: 20px;
}

.slider{
  width: 70vw;
  height: 280px;
  margin: 30px auto;
  overflow: hidden;
}

.slider-line{
  height: 200px;
  width: 185vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: 0;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 1s;
}

.one-award{
  width: 550px;
}

.one-award img{
  height: 200px;
  width: 100px;
}

.one-award p{
  font-family: Segoe UI;
  font-size: 15px;
}

footer{
  background: url('../images/aboutStudio/Footer_bg.jpg') no-repeat center center/cover;
  font-family: Futura Md;
  font-size: 25px;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer a{
  right: 0;
  margin-left: 20px;
}

footer img{
  width: 50px;
  height: fit-content;
}


@media all and (max-width: 1150px){
  .slider-line{
    justify-content: space-around;
  }

  .img-for-award{
    display: none;
  }
}

@media all and (max-width: 1000px){
  .history{
    background: url('../images/aboutStudio/Gray_rectangle.png') 0 0 no-repeat,
      url('../images/aboutStudio/Gray_rectangle.png') 30% 100% no-repeat,
      url('../images/aboutStudio/History_3.jpg') 85% 450px no-repeat,
      url('../images/aboutStudio/History_2.jpg') 95% 670px no-repeat,
      url('../images/aboutStudio/History_1.jpg') 85% 1080px no-repeat,
      url('../images/aboutStudio/Gray_rectangle.png') 100% 50px no-repeat;
    background-size: 300px 450px, 400px 150px, 360px, 300px, 300px, 400px 150px;
  }

  .staff .title img{
    width: 30%;
  }

  .onePortr{
    margin: 30px 50px 30px 50px;
  }

  .contaner{
    margin: 40px 0 40px 0;
  }

  .next {
    margin-right: 10px;
  }

  .prev {
    margin-left: 10px;
  }
}

@media all and (max-width: 800px) {
  .top .logo, .top .netflix {
    width: 100px;
  }

  .menu p {
    font-size: 24px;
  }

  .menu:hover p {
    font-size: 26px;
  }

  .pageTop .txtWithImg {
    width: 400px;
  }

  .notion p {
    font-size: 15px;
  }

  .year {
    font-size: 20px;
  }

  .notion img {
    height: 70px;
  }

  .quote {
    background-size: 200px, 200px, 180px;
  }

  .quote p {
    font-size: 15px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .history{
    background: url('../images/aboutStudio/Gray_rectangle.png') 0 0 no-repeat,
      url('../images/aboutStudio/Gray_rectangle.png') 30% 100% no-repeat,
      url('../images/aboutStudio/Gray_rectangle.png') 100% 50px no-repeat;
    background-size: 300px 450px, 400px 150px, 400px 150px;
  }

  .history .content{
    align-self: center;
    width: 80%;
    margin-left: 0;
  }

  .staff .title p{
    font-size: 35px;
  }

  .slider{
    width: 80vw;
    height: 180px;
  }

  .slider-line{
    width: 210vw;
  }

  .one-award{
    width: 200px;
  }

  .one-award img{
    height: 100px;
    width: 50px;
  }

  .one-award p{
    font-size: 13px;
  }

  footer{
    font-size: 20px;
  }
}

@media all and (max-width: 600px) {
  .top .logo, .top .netflix {
    width: 70px;
  }

  .menu p {
    font-size: 18px;
  }

  .menu:hover p {
    font-size: 20px;
  }

  .line {
    width: 3vw;
  }

  .quote {
    background: url('../images/aboutStudio/Quote_img_1.png') 5% 0% no-repeat,
      url('../images/aboutStudio/Quote_img_2.png') 100% 100% no-repeat;
    background-size: 200px, 200px, 180px;
  }

  .totoroImage{
    height: 280px;
  }

  .history{
    background: url('../images/aboutStudio/Gray_rectangle.png') 0 130px no-repeat,
      url('../images/aboutStudio/Gray_rectangle.png') 30% 100% no-repeat,
      url('../images/aboutStudio/Gray_rectangle.png') 100% 100px no-repeat;
    background-size: 150px 450px, 400px 150px, 250px 150px;
  }

  .history .title p{
    font-size: 30px;
  }

  .content p{
    font-size: 15px;
  }

  .truckImage{
    height: 280px;
  }

  .staff .title p{
    font-size: 25px;
  }

  .portraits{
    background-size: 100% 220px;
  }

  .onePortr{
    margin: 10px 40px 10px 40px;
  }

  .onePortr img{
    width: 120px;
  }

  .onePortr figcaption{
    font-size: 10px;
  }

  .awardsBlock .title p{
    font-size: 25px;
  }

  footer{
    flex-direction: column;
    text-align: center;
  }
}

@media all and (max-width: 450px) {
  .top {
    justify-content: space-around;
    width: 100%;
  }

  .pageTop .txtWithImg {
    margin-top: 15%;
    width: 300px;
  }

  .quote p {
    font-size: 12px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .content p{
    font-size: 15px;
  }

  .staff .title p{
    font-size: 20px;
  }

  .onePortr{
    margin: 10px 20px 10px 20px;
  }

  .awardsBlock .title img{
    width: 40%;
  }

  .next {
    margin-right: 5px;
  }

  .prev {
    margin-left: 5px;
  }

  footer{
    font-size: 15px;
  }
}
